// global variables goes here

$gray-cc: #ccc;
$gray-66: #666;
$gray-33: #333;
$gray-eb: #ebebeb;
$gray-56: #565656;
$gray-99: #999;

$info: #1976D2;
$success: #388E3C;
$error: #D32F2F;
$white: #fff;

$font-sans: "Raleway";
$font-mono: "Fira Code";

$header-background-color: $gray-33;
$header-active-background-color: $gray-56;
$header-font-color: $gray-cc;
$header-height: 52px;

$body-background-color: $gray-eb;
$body-font-color: $gray-33;
$body-heading-font-color: $gray-66;

$panel-background-color: $white;
$panel-border-color: $gray-56;
$panel-shadow-color: transparentize($panel-border-color, 0.5);

$input-border-color: $gray-99;

$notifications-success-background-color: rgba(129, 199, 132, 0.5);
$notifications-success-bar-color: #81C784;
$notifications-error-background-color: rgba(229, 115, 115, 0.5);
$notifications-error-bar-color: #E57373;
$notifications-info-background-color: rgba(100, 181, 246, 0.5);
$notifications-info-bar-color: #64B5F6;

:export {
  header-font-color: $header-font-color;
  body-font-color: $body-font-color;
}