<template>
  <div class="app">
    <Header />
    <Body />
  </div>
</template>

<script>
import Header from './Header/index.vue'
import Body from './Body/index.vue'

export default {
  name: 'app',

  components: {
    Header,
    Body
  },

  data() {
    return {
      message: '1.0.0'
    }
  }
}
</script>

<style lang="scss" scoped>
  .app {
    height: 100%;
    font-family: $font-sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: $body-background-color;
    color: $body-font-color;
  }
</style>
