<template>
  <div class="connection">
    <div class="connection__header">
      <div class="connection__header-icon">
        <Icon
          :name="'Router'"
          :width="28"
          :height="28"
          :params="{
            fill: variables['body-font-color']
          }"
        />
      </div>
      <div class="connection__header-text">
        <span>Подключение</span>
      </div>
    </div>
    <div class="connection__web-server">
      <div class="connection__heading">
        <span>Веб-сервер</span>
      </div>
      <div class="connection__web-server-form">
        <div class="connection__web-server-row connection__web-server-row_inputs">
          <div class="connection__web-server-input-wrapper">
            <span>Адрес</span>
            <input type="text" v-model="host" class="connection__web-server-input connection__web-server-input_host">
          </div>
          <div class="connection__web-server-input-wrapper">
            <span>Порт</span>
            <input type="text" v-model="port" class="connection__web-server-input connection__web-server-input_port">
          </div>
        </div>
        <div class="connection__web-server-row connection__web-server-row_buttons">
          <button
            class="connection__web-server-button connection__web-server-button_success"
            :class="{
              'connection__web-server-button_disabled': webServerStarted || webServerStarting
            }"
            @click="startWebServer"
          >
            Запустить
          </button>
          <button
            class="connection__web-server-button connection__web-server-button_error"
            :class="{
              'connection__web-server-button_disabled': !webServerStarted || webServerStarting
            }"
            @click="stopWebServer"
          >
            Остановить
          </button>
        </div>
      </div>
      <div class="connection__web-server-form">
        <div class="connection__web-server-row connection__web-server-row_inputs">
          <div class="connection__web-server-input-wrapper">
            <span>Тестовое сообщение</span>
            <input type="text" v-model="message" class="connection__web-server-input connection__web-server-input_message">
          </div>
        </div>
        <div class="connection__web-server-row connection__web-server-row_buttons">
          <button
            class="connection__web-server-button connection__web-server-button_info"
            :class="{
              'connection__web-server-button_disabled': !webServerStarted || webServerStarting
            }"
            @click="ping"
          >
            Отправить
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from '~/components/UI/Icon'
import variables from '~/assets/styles/variables.scss'

import { ipcRenderer } from 'electron'
import axios from 'axios'

export default {
  name: 'Connection',

  components: {
    Icon
  },

  data() {
    return {
      host: '192.168.1.43',
      port: '8000',
      message: 'Сообщение'
    }
  },

  computed: {
    variables() {
      return variables
    },

    webServer() {
      return this.$store.state.app.webServer
    },

    webServerStarted() {
      return this.$store.state.app.webServer.started
    },

    webServerStarting() {
      return this.$store.state.app.webServer.starting
    }
  },

  methods: {
    startWebServer() {
      if (!this.webServerStarted && !this.webServerStarting) {
        ipcRenderer.invoke('web-server-start', this.host, this.port).then((response) => {
          this.$store.commit('app/setWebServer', response)
        })
      }
    },

    stopWebServer() {
      if (this.webServerStarted && !this.webServerStarting) {
        ipcRenderer.invoke('web-server-stop').then(() => {
          this.$store.commit('app/setWebServer', { host: null, port: null })
        }).catch(() => {
          console.error('something went wrong')
        })
      }
    },

    ping() {
      if (this.webServerStarted && !this.webServerStarting) {
        axios.post(`http://${this.webServer.host}:${this.webServer.port}/ping`, {
          message: this.message
        }, {
          'content-type': 'application/json'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .connection__header {
    display: flex;
    align-items: center;
    height: 36px;
  }

  .connection__header-icon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .connection__header-text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  .connection__web-server {
    margin-top: 19px;
  }

  .connection__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    color: $body-heading-font-color;
  }

  .connection__web-server-form {
    margin-top: 11px;
  }

  .connection__web-server-row {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 7px;
    }
  }

  .connection__web-server-row_inputs {
    gap: 14px;
  }

  .connection__web-server-row_buttons {
    gap: 7px;
  }

  .connection__web-server-input-wrapper {
    height: 21px;
    display: flex;
    align-items: center;
    gap: 7px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .connection__web-server-input {
    height: 100%;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 5px;
    display: flex;
    align-items: center;
  }

  .connection__web-server-input_host {
    width: 138px;
  }

  .connection__web-server-input_port {
    width: 56px;
  }

  .connection__web-server-input_message {
    width: 138px;
  }

  .connection__web-server-button {
    height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    border-radius: 3px;
    background-color: $body-font-color;
    padding: 0 7px;
  }

  .connection__web-server-button_success {
    background-color: $success;
  }

  .connection__web-server-button_error {
    background-color: $error;
  }

  .connection__web-server-button_info {
    background-color: $info;
  }

  .connection__web-server-button_disabled {
    opacity: .5;
    cursor: default;
  }
</style>
