<template>
  <div class="data">
    <div>data</div>
    <div>data</div>
    <div>data</div>
    <div>data</div>
    <div>data</div>
  </div>
</template>

<script>
export default {
  name: 'Data'
}
</script>
