<template>
  <div class="panel">
    <component v-if="component !== null" :is="component" />
  </div>
</template>

<script>
export default {
  name: 'Panel',

  props: {
    item: {
      type: [String, Number],
      default: null
    }
  },

  computed: {
    componentName() {
      if (this.$store.state.interface.header[this.item] === undefined) {
        return null
      } else {
        return this.$store.state.interface.header[this.item].component
      }
    },

    component() {
      if (this.componentName === null) {
        return null
      }
      return () => import('./' + this.componentName + '.vue')
    }
  }
}
</script>

<style lang="scss" scoped>
  .panel {
    padding: 14px 20px;
    background-color: $panel-background-color;
    border: 1px solid $panel-border-color;
    box-shadow: 0px 0px 10px 1px $panel-shadow-color;
    border-radius: 7px;
  }
</style>
