@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
}

