<template>
  <div
    class="icon-wrapper"
    :style="{
      'width': `${width}px`,
      'height': `${height}px`
    }"
  >
    <component class="icon" v-if="show" :is="component" :params="params ? params : null" />
  </div>
</template>

<script>
export default {
  name: 'Icon',

  props: {
    name: {
      type: String,
      required: true
    },

    width: {
      type: Number,
      default: 15
    },

    height: {
      type: Number,
      default: 15
    },

    params: {
      type: [String, Object],
      default: null
    }
  },

  data() {
    return {
      show: true
    }
  },

  created () {
    this.component = () => import('./svg/' + this.name + '.vue')
  },

  watch: {
    name: function () {
      if (this.name) {
        this.component = null
        this.show = false
        setTimeout(() => {
          this.component = () => import('./svg/' + this.name + '.vue')
          this.show = true
        }, 10)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .iconWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .icon {
    width: 100%;
    height: 100%;
  }
</style>
