<template>
  <div class="body">
    <Initial class="body__initial" v-if="items.length === 0"/>
    <div class="body__content" v-else>
      <Panel
        v-for="(item, itemIndex) in items"
        :key="`body-item-${itemIndex}`"
        :item="item"
      />
    </div>
    <Notifications class="body__notifications"/>
  </div>
</template>

<script>
import Initial from './Initial.vue'
import Panel from './Panel/index.vue'
import Notifications from './Notifications.vue'

export default {
  name: 'Body',

  components: {
    Initial,
    Panel,
    Notifications
  },

  computed: {
    items() {
      return this.$store.state.interface.body.items
    }
  }
}
</script>

<style lang="scss" scoped>
  .body {
    width: 100%;
    height: calc(100% - $header-height);
    position: relative;
  }

  .body__initial {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .body__content {
    z-index: 1;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 24px;
    padding: 18px 24px;
    box-sizing: border-box;
  }

  .body__notifications {
    z-index: 2;
  }
</style>
