<template>
  <div class="initial">
    <div class="initial__text">
      <span>Для начала работы нажмите на</span>
      <Icon
        :name="'Router'"
        :width="42"
        :height="42"
        :params="{
          fill: '#666'
        }"
      />
    </div>
  </div>
</template>

<script>
import Icon from '~/components/UI/Icon'

export default {
  name: 'Initial',

  components: {
    Icon
  }
}
</script>

<style lang="scss" scoped>
  .initial {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $gray-66;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
  }

  .initial__text {
    display: flex;
    gap: 5px;
  }
</style>
