<template>
  <div class="notifications">
    <div
      class="notifications__notification"
      :class="`notifications__notification_${item.type}`"
      v-for="(item, itemIndex) in items"
      :key="`interface-notifications-${itemIndex}`"
      @mouseover="mouseover(item.id)"
      @mouseout="mouseout(item.id)"
    >
      <div class="notifications__notification-header">
        <div class="notifications__notification-header-text">
          <span>{{ item.header }}</span>
        </div>
        <button
          class="notifications__notification-header-icon"
          @click="close(item.id)"
        >
          <Icon
            :name="'Close'"
            :width="26"
            :height="26"
            :params="{
              fill: '#333'
            }"
          />
        </button>
      </div>
      <div class="notifications__notification-body">
        <span>{{ item.text }}</span>
      </div>
      <div class="notifications__notification-bar">
        <div
          class="notifications__notification-thumb"
          :style="{
            'width': `${(item.health / item.duration) * 100}%`
          }"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Icon from '~/components/UI/Icon'

export default {
  name: 'Notifcations',

  components: {
    Icon
  },

  computed: {
    items() {
      return this.$store.state.interface.notifications.items
    }
  },

  methods: {
    mouseover(id) {
      this.$store.commit('interface/notifications/hover', id)
    },

    mouseout(id) {
      this.$store.commit('interface/notifications/blur', id)
    },

    close(id) {
      this.$store.commit('interface/notifications/remove', id)
    }
  }
}
</script>

<style lang="scss" scoped>
  .notifications {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .notifications__notification {
    margin-right: 24px;
    margin-bottom: 18px;

    padding-top: 10px;
    border-radius: 7px;
    width: 350px;
    overflow: hidden;
  }

  .notifications__notification_info {
    background-color: $notifications-info-background-color;

    .notifications__notification-thumb {
      background-color: $notifications-info-bar-color
    }
  }

  .notifications__notification_success {
    background-color: $notifications-success-background-color;

    .notifications__notification-thumb {
      background-color: $notifications-success-bar-color
    }
  }

  .notifications__notification_error {
    background-color: $notifications-error-background-color;

    .notifications__notification-thumb {
      background-color: $notifications-error-bar-color
    }
  }

  .notifications__notification-header {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    padding: 0 18px;
  }

  .notifications__notification-header-text {
    flex-grow: 2;
  }

  .notifications__notification-header-icon {
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notifications__notification-body {
    margin-top: 9px;
    padding: 0 18px;
  }

  .notifications__notification-bar {
    margin-top: 9px;
    height: 7px;
    width: 100%;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .notifications__notification-thumb {
    height: 100%;
    // border-bottom-right-radius: 7px;
    // border-bottom-left-radius: 7px;
  }
</style>
