<template>
  <div class="header">
    <Item
      v-for="(item, itemIndex) in items"
      :key="`header-item-${itemIndex}`"
      :itemKey="itemIndex"
    />
  </div>
</template>

<script>
import Item from './Item.vue'

export default {
  name: 'Header',

  components: {
    Item
  },

  computed: {
    items() {
      return this.$store.state.interface.header
    }
  }
}
</script>

<style lang="scss" scoped>
  .header {
    width: 100%;
    height: $header-height;
    background-color: $header-background-color;
    color: $header-font-color;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    gap: 7px;
  }
</style>
