<template>
  <button
    class="item"
    :class="{
      'item_active': item.active
    }"
    :style="{
      'color': item.color
    }"
    @click="toggle"
  >
    <div class="item__icon" :data-icon="item.icon">
      <Icon
        :name="item.icon"
        :width="35"
        :height="35"
        :params="{
          fill: item.color
        }"
      />
    </div>
    <div class="item__text">
      <span>{{ item.text }}</span>
    </div>
  </button>
</template>

<script>
import Icon from '~/components/UI/Icon'
import variables from '~/assets/styles/variables.scss'

export default {
  name: 'Item',

  props: {
    itemKey: {
      type: String,
      required: true
    }
  },

  components: {
    Icon
  },

  computed: {
    variables() {
      return variables
    },

    item() {
      return this.$store.state.interface.header[this.itemKey]
    }
  },

  methods: {
    toggle() {
      this.$store.commit('interface/header/toggle', this.itemKey)
      if (this.item.active) {
        this.$store.commit('interface/body/addItem', this.itemKey)
      } else {
        this.$store.commit('interface/body/removeItem', this.itemKey)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .item {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .item_active {
    background-color: $header-active-background-color;
  }

  .item__icon {
    width: $header-height;
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item__text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-right: 9px;
  }
</style>
