// fonts should be placed here because on current workflow
// Webpack messes up with local directory for each component
// so it is impossible to use relative routes

@import './assets/fonts/OpenSans/import.scss';
@import './assets/fonts/FiraCode/import.scss';
@import './assets/fonts/Raleway/import.scss';

html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
}

#app {
  height: 100%;
}

button {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-family: $font-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  @include transition(.5s, ease, color, background-color, opacity);
  cursor: pointer;

  &:focus {
    background-color: #ffffff11;
  }
}

input {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-family: $font-mono;
  color: $body-font-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}